<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ClientMasterPage.master.cs" Inherits="MediConnect.ClientMasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MediConnect</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/client/images/logo/favicon.png" type="image/x-icon">

    <!-- Icons -->
    <link rel="stylesheet" href="assets/admin/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="assets/admin/vendors/mdi/css/materialdesignicons.min.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="assets/client/css/animate-3.7.0.css">
    <link rel="stylesheet" href="assets/client/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="assets/client/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="assets/client/css/owl-carousel.min.css">
    <link rel="stylesheet" href="assets/client/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="assets/client/css/linearicons.css">
    <link rel="stylesheet" href="assets/client/css/style.css">

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <header class="header-area">
        <div class="header-top bg-secondary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 d-md-flex">
                        <h6 class="text-white mr-3"><span class="mr-2"><i class="fa fa-mobile"></i></span> +91 905 708 2563</h6>
                        <h6 class="text-white mr-3"><span class="mr-2"><i class="fa fa-envelope-o"></i></span> mediconnect@gmail.com</h6>
                        <h6 class="text-white"><span class="mr-2"><i class="fa fa-map-marker"></i></span> Ranchi India</h6>
                    </div>
                    <div class="col-lg-3">
                        <div class="social-links">
                            <ul>
                                <li><a class="text-white" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="text-white" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="text-white" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="text-white" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="text-white" href="#"><i class="fa fa-vimeo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="Home.aspx"><img src="assets/client/images/logo/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="Home.aspx">Home</a></li>
                        <li><a href="Shop.aspx">Shop</a></li>
                        <li><a href="About.aspx">About</a></li>			          				          
                        <li><a href="Contact.aspx">Contact</a></li>	
                        <%
                            if (MediConnect.Utils.AuthMiddleware.CheckAuth())
                            {
                                Response.Write("<li><a href=\"Cart.aspx\"><i class=\"mdi mdi-cart-outline\"></i> Cart </a></li>");
                            }
                        %>
                        <li class="menu-has-children"><a href="#"><i class="mdi mdi-account-circle"></i></a>
                            <ul>
                                <%
                                    if (MediConnect.Utils.AuthMiddleware.CheckAuth())
                                    {
                                        Response.Write("<li><a href=\"Account.aspx\">Account</a></li>");
                                        Response.Write("<li><a href=\"Orders.aspx\">Orders</a></li>");
                                        Response.Write("<li><a href=\"Logout.aspx\">Logout</a></li>");
                                    }
                                    else
                                    {
                                        Response.Write("<li><a href=\"Login.aspx\">Login</a></li>");
                                        Response.Write("<li><a href=\"Register.aspx\">Register</a></li>");
                                    }
                                %>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <form id="form1" runat="server">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </form>
    <!-- Footer Area Starts -->
    <footer class="footer-area section-padding">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h3 class="mb-4">top products</h3>
                            <ul>
                                <li class="mb-2"><a href="#">managed website</a></li>
                                <li class="mb-2"><a href="#">managed reputation</a></li>
                                <li class="mb-2"><a href="#">power tools</a></li>
                                <li><a href="#">marketing service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h3 class="mb-4">newsletter</h3>
                            <p class="mb-4">You can trust us. we only send promo offers, not a single.</p>  
                            <form action="#">
                                <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                                <button type="submit" class="template-btn">subscribe now</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-1 col-lg-3">
                        <div class="single-widge-home">
                            <h3 class="mb-4">instagram feed</h3>
                            <div class="feed">
                                <img src="assets/client/images/feed1.jpg" alt="feed">
                                <img src="assets/client/images/feed2.jpg" alt="feed">
                                <img src="assets/client/images/feed3.jpg" alt="feed">
                                <img src="assets/client/images/feed4.jpg" alt="feed">
                                <img src="assets/client/images/feed5.jpg" alt="feed">
                                <img src="assets/client/images/feed6.jpg" alt="feed">
                                <img src="assets/client/images/feed7.jpg" alt="feed">
                                <img src="assets/client/images/feed8.jpg" alt="feed">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <span>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </span>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="assets/client/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="assets/client/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="assets/client/js/vendor/wow.min.js"></script>
    <script src="assets/client/js/vendor/owl-carousel.min.js"></script>
    <script src="assets/client/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="assets/client/js/vendor/jquery.nice-select.min.js"></script>
    <script src="assets/client/js/vendor/superfish.min.js"></script>
    <script src="assets/client/js/main.js"></script>

    <asp:ContentPlaceHolder ID="scripts" runat="server">
    </asp:ContentPlaceHolder>
</body>
</html>
